html, body {
  height: 100%;
  margin: 0;
}

body {
    background-color: #b3ecec;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
    h1 {
      color:rgb(22, 136, 136); 
      text-align: center;
    }

    h2 {
      color: #28b97d; 
    }

    p {
      color: #399b9b; 
      font-size: 16px;
    }

    .caja {

        width: 500px;
        height: 300px;
        background-color: rgb(121, 216, 219);
        text-align: center;
        margin: 100px auto;
        padding-top: 100px;
        border: 10px double rgb(124, 41, 124);
        border-radius: 100px;
        box-shadow: 10px 10px 5px grey;
    }